<section bs-sidebar>
    <nav bs-section-nav>
        <ul bs-list>
            <li>
                <a href="#" bs-button="nav">
                    {{ inc src="icon.hbs" icon="cog" }} Server Info
                </a>
            </li>
            <li>
                <a href="#" bs-button="nav" class="active">
                    {{ inc src="icon.hbs" icon="sync" }} Sync Options
                </a>
            </li>
            <li>
                <a href="#" bs-button="nav">
                    {{ inc src="icon.hbs" icon="list2" }} History
                </a>
            </li>
            <!--<li>
                <a href="#" bs-button="nav">
                    {{ inc src="icon.hbs" icon="devices" }} Connections
                </a>
            </li>-->
            <li>
                <a href="#" bs-button="nav">
                    {{ inc src="icon.hbs" icon="bug" }} Remote Debug
                </a>
            </li>
            <li>
                <a href="#" bs-button="nav">
                    {{ inc src="icon.hbs" icon="help" }} Help / About
                </a>
            </li>
            <li bs-action="menu-close">
                <button bs-button="nav" ng-click="toggleMenu()">{{ inc src="icon.hbs" icon="circle-delete" }} CLOSE</button>
            </li>
        </ul>
    </nav>
</section>