<section bs-sidebar="">
    {{ inc src="header.hbs" }}
    <nav bs-section-nav>
        <ul bs-list>
            <li>
                <button bs-button="nav">
                    {{ inc src="icon.hbs" icon="cog" }} Server Info
                </button>
            </li>
            <li>
                <button bs-button="nav" class="active">
                    {{ inc src="icon.hbs" icon="repeat" }} Sync Options
                </button>
            </li>
            <li>
                <button bs-button="nav">
                    {{ inc src="icon.hbs" icon="book" }} History
                </button>
            </li>
            <li>
                <button bs-button="nav">
                    {{ inc src="icon.hbs" icon="plug" }} Plugins
                </button>
            </li>

            <li bs-action="menu-close">
                <button bs-button="nav" ng-click="toggleMenu()"><i bs-icon="close"></i> CLOSE</button>
            </li>
        </ul>
    </nav>
</section>