<footer bs-footer>
    <p bs-text="copyright">© 2015 -
        <a href="{{site.links.home}}">BrowserSync.io</a> |
        <a href="{{site.links.github}}">
            {{ inc src="icon.hbs" icon="github" }}
        </a>
        <a href="{{site.links.twitter}}">
            {{ inc src="icon.hbs" icon="twitter" }}
        </a>
    </p>
</footer>