---
layout: main.hbs
title: "History"
icon: "book_2"
urls:
    - /
    - /store-home.php
    - /store-product.php
    - /store-product.php?element=thisisit.php&color=we23
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
---
<div bs-callout="controls outline">
    <h1 bs-heading>{{ inc src="icon.hbs" icon="list2" }} {{page.title}}</h1>
    <div bs-button-row>
        <button bs-button="inline">
            {{ inc src="icon.hbs" icon="bin" }}
            Clear all
        </button>
    </div>
</div>
<div bs-skinny>
    <ul bs-list="bordered inline-controls">
        {{#each page.urls}}
        <li>
            <button bs-remove>{{ inc src="icon.hbs" icon="bin" }}</button>
            <p>{{this}}</p>
            <span bs-multi-controls="right">
                <a href="#" bs-button>{{ inc src="icon.hbs" icon="square-add" }} new tab</a>
                <a href="#" bs-button>{{ inc src="icon.hbs" icon="target" }} sync all</a>
            </span>
        </li>
        {{/each}}
    </ul>
</div>