---
layout: main.hbs
title: "Server Info"
icon: "cog"
callouts:
    - title: "Local"
      icon: "imac"
      url: "http://localhost:3000"
    - title: "External"
      icon: "wifi_3"
      url: "http://192.168.0.1:3000"
    - title: "Tunnel"
      icon: "globe"
      url: "http://14frwed.localtunnel.me"
---
<div bs-callout="controls outline">
    <h1 bs-heading><i bs-icon="{{page.icon}}"></i> {{page.title}}</h1>
</div>
<div>
    {{#each page.callouts}}
    <section bs-callout>
        <div bs-callout-content>
            <div bs-callout-icon>
                <i bs-icon="{{this.icon}}"></i>
            </div>
            <p bs-text="lede">{{this.title}}</p>
            <p><a href="#">{{this.url}}</a></p>
            <p bs-text="controls">
                <a href="#" bs-button>new tab</a>
                <a href="#" bs-button>sync all</a>
            </p>
        </div>
    </section>
    {{/each}}
</div>
<section>
    <div bs-callout="full">
        <div bs-callout-content="">
            <div bs-callout-icon="">
                <i bs-icon="terminal"></i>
            </div>
            <p bs-text="lede">Serving files from</p>
            <ul bs-list="">
                <li>/Users/shakyshane/Sites/browser-sync-modules/browser-sync-cp/test/fixtures</li>
                <li>/Users/shakyshane/Sites/browser-sync-modules/browser-sync-cp/test/fixtures</li>
                <li>/Users/shakyshane/Sites/browser-sync-modules/browser-sync-cp/test/fixtures</li>
            </ul>
        </div>
    </div>
</section>
