---
layout: main.hbs
title: "Server Info"
icon: "cog"
callouts:
    - title: "Local"
      icon: "imac"
      url: "http://localhost:3000"
    - title: "External"
      icon: "wifi"
      url: "http://192.168.0.1:3000"
    - title: "Tunnel"
      icon: "globe"
      url: "http://14frwed.localtunnel.me"
---
<div bs-callout="controls outline">
    <h1 bs-heading>{{ inc src="icon.hbs" icon="cog" }} {{page.title}}</h1>
</div>
<div>
    {{#each page.callouts}}
    <section bs-callout>
        <div bs-callout-content>
            <div bs-callout-icon>
                {{ inc src="icon.hbs" icon=this.icon }}
            </div>
            <p bs-text="lede">{{this.title}}</p>
            <p><a href="#">{{this.url}}</a></p>
            <p bs-text="controls">
                <a href="#" bs-button="icon icon-left">
                    {{ inc src="icon.hbs" icon="square-add" }} new tab
                </a>
                <a href="#" bs-button="icon icon-left">
                    {{ inc src="icon.hbs" icon="target" }} sync all
                </a>
            </p>
        </div>
    </section>
    {{/each}}
</div>
<section>
    <div bs-callout="full">
        <div bs-callout-content="">
            <div bs-callout-icon="">
                {{ inc src="icon.hbs" icon="terminal" }}
            </div>
            <p bs-text="lede">Serving files from</p>
            <ul bs-list="">
                <li>/Users/shakyshane/Sites/browser-sync-modules/browser-sync-cp/test/fixtures</li>
                <li>/Users/shakyshane/Sites/browser-sync-modules/browser-sync-cp/test/fixtures</li>
                <li>/Users/shakyshane/Sites/browser-sync-modules/browser-sync-cp/test/fixtures</li>
            </ul>
        </div>
    </div>
</section>
