---
layout: main.hbs
title: "Sync Options"
icon: "repeat_2"
options: ['Clicks', 'Scroll', 'Forms: Submit', 'Forms: Toggles', 'Forms: Inputs', 'Clicks', 'Scroll', 'Forms: Submit', 'Forms: Toggles', 'Forms: Inputs']
---
<div bs-callout="controls outline">
    <h1 bs-heading><i bs-icon="{{page.icon}}"></i> {{page.title}}</h1>
    <div bs-button-row>
        <button bs-button="inline">
            <i bs-icon="circle_ok"></i>
            Enable All
        </button>
        <button bs-button="inline">
            <i bs-icon="circle_delete"></i>
            Disable all
        </button>
    </div>
</div>
<div>
    {{#each page.options}}
    <section bs-callout="switch {{#if @last}}last{{/if}}">
        <div bs-callout-content="">
            <div bs-callout-icon>
                <div class="switch">
                    <input id="cmn-form-{{@index}}"
                           ng-model="plugin.active"
                           ng-change="togglePlugin(plugin)"
                           class="cmn-toggle cmn-toggle-round"
                           type="checkbox"
                           checked="">
                    <label for="cmn-form-{{@index}}"></label>
                </div>
            </div>
            <div>
                <p bs-text="lede">{{this}}</p>
            </div>
        </div>
    </section>
    {{/each}}
    <br/>
</div>