---
layout: main.hbs
title: "Plugins"
icon: "plug"
plugins: ['HTML Injector', 'Console Logger']
---
<div bs-panel="controls outline">
    <h1 bs-heading>{{ inc src="icon.hbs" icon=page.icon }} {{page.title}}</h1>
    <button bs-button="inline">
        <i bs-icon="circle_ok"></i>
        Enable All
    </button>
    <button bs-button="inline">
        <i bs-icon="circle_delete"></i>
        Disable all
    </button>
</div>
<div>
    {{#each page.plugins}}
    <section bs-panel="switch {{#if @last}}last{{/if}}">
        <div bs-panel-content="">
            <div bs-panel-icon="switch">
                <div class="switch">
                    <input id="cmn-form-{{@index}}"
                           ng-model="plugin.active"
                           ng-change="togglePlugin(plugin)"
                           class="cmn-toggle cmn-toggle-round"
                           type="checkbox"
                           checked="">
                    <label for="cmn-form-{{@index}}"></label>
                </div>
            </div>
            <div>
                <p bs-text="lede">{{this}}</p>
            </div>
        </div>
    </section>
    {{/each}}
    <br/>
</div>