---
layout: parent.hbs
---
{{ inc src="../img/icons/svg/symbols.svg" }}
<main>
    {{ inc src="_components/top-bar.hbs" }}
    <section bs-container>
        {{ inc src="nav.hbs" }}
        <section bs-content>
            <div ng-view="">
                <div>
                    <article>
                        {{ content }}
                    </article>
                </div>
            </div>
            {{ inc src="footer.hbs" }}
        </section>
    </section>
</main>